.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 80%;
  height: 100%;
  background-color: #05203c;
  color: #fff;
  z-index: 1000;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
  transform: translateX(0);
  transition: transform 0.3s ease-in-out;
  box-sizing: border-box;
}

.sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.close-icon {
  font-size: 1.5rem;
  cursor: pointer;
  color: #fff;
}

.sidebar-links {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.sidebar-link {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 1rem;
  color: #fff;
  text-decoration: none;
  padding: 10px 0;
}

.sidebar-link:hover {
  color: #ccc;
}

.sidebar-icon {
  font-size: 1.2rem;
}